body {
  max-width: 100%;
  font-family: 'Chilanka', cursive;
}

.nav-bar {
  background-color: #5a5a5a;
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

ul {
  display: flex;
  height: 71px;
  margin: 0;
  border-radius: 1px;
  padding: 0;
}

li {
  list-style: none;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
  padding: 7.5px 14px;
}

.logo {
  width: 230px;
  padding: 0;
  justify-content: flex-start;
}

.logo-img {
  height: 71px;
  width: 200px;
  filter: grayscale(1);
}

.link-item {
  width: 104px;
}

.link-item-member {
  width: 149px;
}

.link-item-btn {
  width: 138px;
  height: 71px;
}

.nav-button {
  width: 114px;
  height: 47px;
  border-radius: 10px;
  color: white;
  font-weight: 900;
  font-size: 21px;
  font-family: 'Chilanka', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3e3e;
}

.cat {
  padding-left: 10px;
}

.search {
  width: 280px;
  height: 56px;
  border-radius: 10px;
}

.li-search {
  position: relative;
  width: 320px;
  height: 71px;
  padding: 0;
  justify-content: flex-end;
}

.lup {
  position: absolute;
  left: 40px;
  width: 25px;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  position: relative;
}

.first-title {
  position: absolute;
  top: 40px;
  background-color: white;
  height: 50px;
  width: 33%;
  margin-left: 33%;
}

.second-title {
  position: absolute;
  top: 90px;
  background-color: white;
  height: 50px;
  width: 16.5%;
  margin-left: 41.3%;
}

.second-button {
  position: absolute;
  top: 40px;
  height: 50px;
  width: 15.5%;
  margin-left: 83%;
  display: flex;
  justify-content: space-between;
}

.circle {
  border-radius: 10px;
  transform: rotate(-20deg);
}

.circle:hover {
  transform: rotate(0deg);
  cursor: pointer;
}

.btn-scnd {
  width: 65%;
  height: 50px;
  border-radius: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.Iris {
  grid-column: 1/4;
  background-color: #505050;
  height: 720px;
  cursor: pointer;
  position: relative;
}

.first-article-content {
  position: absolute;
  top: 170px;
  width: 66%;
  display: flex;
  margin-left: 6%;
  align-items: center;
}

.iris-photo {
  width: 87px;
  height: 87px;
  filter: grayscale(1);
  transform: rotate(-15deg);
}

.iris-photo:hover {
  transform: rotate(0deg);
}

.title-iris {
  width: 170px;
  height: 25px;
  background-color: white;
  margin-left: 40px;
}

.description-iris {
  position: absolute;
  top: 300px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-iris-two {
  position: absolute;
  top: 380px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-iris-three {
  position: absolute;
  top: 460px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-iris-four {
  position: absolute;
  top: 540px;
  width: 26%;
  height: 20px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-iris-five {
  position: absolute;
  top: 580px;
  width: 26%;
  height: 20px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-iris-six {
  position: absolute;
  bottom: 40px;
  width: 7%;
  height: 10px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.Kelvin {
  grid-column: 4/7;
  background-color: #555;
  height: 720px;
  position: relative;
}

.second-article-content {
  position: absolute;
  top: 170px;
  width: 66%;
  display: flex;
  margin-left: 6%;
  align-items: center;
}

.kelvin-photo {
  width: 87px;
  height: 87px;
  filter: grayscale(1);
  transform: rotate(-15deg);
}

.kelvin-photo:hover {
  transform: rotate(0deg);
}

.title-kelvin {
  width: 170px;
  height: 25px;
  background-color: white;
  margin-left: 40px;
}

.description-kelvin {
  position: absolute;
  top: 300px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-kelvin-two {
  position: absolute;
  top: 380px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-kelvin-three {
  position: absolute;
  top: 460px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-kelvin-four {
  position: absolute;
  top: 540px;
  width: 26%;
  height: 20px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-kelvin-five {
  position: absolute;
  top: 580px;
  width: 26%;
  height: 20px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-kelvin-six {
  position: absolute;
  bottom: 40px;
  width: 7%;
  height: 10px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.Chidi {
  grid-column: 1/4;
  background-color: #4b4b4b;
  height: 570px;
  cursor: pointer;
  position: relative;
}

.third-article-content {
  position: absolute;
  top: 50px;
  width: 66%;
  display: flex;
  margin-left: 6%;
  align-items: center;
}

.chidi-photo {
  width: 87px;
  height: 87px;
  filter: grayscale(1);
  transform: rotate(-15deg);
}

.chidi-photo:hover {
  transform: rotate(0deg);
}

.title-chidi {
  width: 170px;
  height: 25px;
  background-color: white;
  margin-left: 40px;
}

.description-chidi {
  position: absolute;
  top: 180px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-chidi-two {
  position: absolute;
  top: 260px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-chidi-three {
  position: absolute;
  top: 340px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-chidi-four {
  position: absolute;
  top: 420px;
  width: 10%;
  height: 20px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-chidi-five {
  position: absolute;
  top: 420px;
  width: 10%;
  height: 20px;
  display: flex;
  margin-left: 20%;
  background-color: white;
}

.description-chidi-six {
  position: absolute;
  top: 420px;
  width: 10%;
  height: 20px;
  display: flex;
  margin-left: 34%;
  background-color: white;
}

.description-chidi-seven {
  position: absolute;
  bottom: 40px;
  width: 7%;
  height: 10px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.Zara {
  grid-column: 4/7;
  background-color: #505050;
  height: 570px;
  cursor: pointer;
  position: relative;
}

.fourth-article-content {
  position: absolute;
  top: 50px;
  width: 66%;
  display: flex;
  margin-left: 6%;
  align-items: center;
}

.zara-photo {
  width: 87px;
  height: 87px;
  filter: grayscale(1);
  transform: rotate(-15deg);
}

.zara-photo:hover {
  transform: rotate(0deg);
}

.title-zara {
  width: 170px;
  height: 25px;
  background-color: white;
  margin-left: 40px;
}

.description-zara {
  position: absolute;
  top: 180px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-zara-two {
  position: absolute;
  top: 260px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-zara-three {
  position: absolute;
  top: 340px;
  width: 66%;
  height: 60px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-zara-four {
  position: absolute;
  top: 420px;
  width: 10%;
  height: 20px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.description-zara-five {
  position: absolute;
  top: 420px;
  width: 10%;
  height: 20px;
  display: flex;
  margin-left: 20%;
  background-color: white;
}

.description-zara-six {
  position: absolute;
  top: 420px;
  width: 10%;
  height: 20px;
  display: flex;
  margin-left: 34%;
  background-color: white;
}

.description-zara-seven {
  position: absolute;
  bottom: 40px;
  width: 7%;
  height: 10px;
  display: flex;
  margin-left: 6%;
  background-color: white;
}

.article-left {
  grid-column: 1/2;
  position: relative;
  height: 460px;
  background-color: #2c2c2c;
}

.article-right {
  grid-column: 5/7;
  position: relative;
  height: 460px;
  background-color: #2c2c2c;
}

.article-center {
  grid-column: 2/5;
  position: relative;
  display: flex;
  height: 460px;
  background-color: #2c2c2c;
}

.description-ac {
  position: absolute;
  top: 50px;
  height: 25px;
  width: 80%;
  background-color: white;
}

.description-ac-two {
  position: absolute;
  top: 85px;
  height: 25px;
  width: 80%;
  background-color: white;
}

.description-ac-three {
  position: absolute;
  top: 120px;
  height: 25px;
  width: 80%;
  background-color: white;
}

.description-ac-four {
  position: absolute;
  top: 190px;
  height: 25px;
  width: 80%;
  background-color: white;
}

.description-ac-five {
  position: absolute;
  top: 225px;
  height: 25px;
  width: 80%;
  background-color: white;
}

.description-ac-six {
  position: absolute;
  top: 260px;
  height: 25px;
  width: 80%;
  background-color: white;
}

.btn-art-center {
  height: 60px;
  width: 60%;
  position: absolute;
  top: 345px;
  background-color: #a8a8a8;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-btn-art-center {
  height: 25px;
  width: 90%;
  background-color: white;
}

.big-pet {
  position: absolute;
  filter: grayscale(1);
  margin-top: -50px;
  transform: rotate(-15deg);
}

.big-pet:hover {
  transform: rotate(0deg);
}

.container-three {
  display: grid;
  grid-column: 1/7;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  position: relative;
}

.article-five {
  grid-column: 1/3;
  background-color: #727272;
  height: 480px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.article-five:hover {
  transform: scale(1.05);
  background-color: #939393;
  z-index: 1;
}

.line-zero {
  height: 10px;
  width: 20%;
  background-color: #111;
  margin-top: 45px;
  margin-left: 6%;
}

.line-one {
  height: 15px;
  width: 80%;
  background-color: white;
  margin-top: 10px;
  margin-left: 6%;
}

.line-two {
  height: 15px;
  width: 40%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 6%;
}

.line-three {
  height: 20px;
  width: 80%;
  background-color: white;
  margin-top: 15px;
  margin-left: 6%;
}

.arrow-botton-five {
  margin-left: 0;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  background-color: #727272;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 0;
}

.arrow-botton-five:hover {
  background-color: #2c2c2c;
}

.article-six {
  grid-column: 3/5;
  background-color: #727272;
  height: 480px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.article-six:hover {
  transform: scale(1.05);
  background-color: #939393;
  z-index: 1;
}

.arrow-botton-six {
  margin-left: 0;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  background-color: #727272;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.arrow-botton-six:hover {
  background-color: #2c2c2c;
}

.article-seven {
  grid-column: 5/7;
  background-color: #727272;
  height: 480px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.article-seven:hover {
  transform: scale(1.05);
  background-color: #939393;
  z-index: 1;
}

.arrow-botton-seven {
  margin-left: 0;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  background-color: #727272;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.arrow-botton-seven:hover {
  background-color: #2c2c2c;
}

.empty {
  background-color: white;
  grid-column: 1/3;
  height: 795px;
}

.publicity {
  height: 208px;
  width: 80%;
  border-style: dotted;
  border-width: 1px;
  margin-left: 15%;
  margin-top: 10%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.contain-add {
  display: flex;
  justify-content: center;
}

.publicity-button {
  width: 114px;
  height: 37px;
  border-radius: 2px;
  color: white;
  font-weight: 900;
  font-size: 12px;
  font-family: 'Chilanka', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #626262;
  position: absolute;
  top: 70%;
  cursor: pointer;
}

.publicity-button:hover {
  background-color: #2c2c2c;
}

.big-article {
  grid-column: 3/7;
  height: 795px;
  position: relative;
}

.publicitytwo {
  background-color:  #5a5a5a;
  width: 90%;
  height: 795px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.add {
  filter: grayscale(1);
  height: 290px;
}

.btn-art {
  height: 65px;
  width: 25%;
  position: absolute;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80%;
}

.inside-btn-art {
  height: 25px;
  width: 80%;
  background-color: #5a5a5a;
  position: absolute;
}

.description-art {
  position: absolute;
  top: 380px;
  width: 55%;
  height: 60px;
  display: flex;
  background-color: white;
}

.description-art-two {
  position: absolute;
  top: 480px;
  width: 55%;
  height: 20px;
  display: flex;
  background-color: white;
}

.description-art-three {
  position: absolute;
  top: 520px;
  width: 55%;
  height: 20px;
  display: flex;
  background-color: white;
}

.description-art-four {
  position: absolute;
  top: 560px;
  width: 55%;
  height: 20px;
  display: flex;
  background-color: white;
}

.description-art-five {
  position: absolute;
  top: 91.5%;
  width: 25%;
  height: 10px;
  display: flex;
  background-color: white;
}

.container-four {
  display: grid;
  grid-column: 1/7;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  position: relative;
}

.article-eight {
  grid-column: 1/3;
  background-color: #727272;
  height: 480px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.article-eight:hover {
  transform: scale(1.05);
  background-color: #939393;
  z-index: 1;
}

.line-zero {
  height: 10px;
  width: 20%;
  background-color: #111;
  margin-top: 45px;
  margin-left: 6%;
}

.line-one {
  height: 15px;
  width: 80%;
  background-color: white;
  margin-top: 10px;
  margin-left: 6%;
}

.line-two {
  height: 15px;
  width: 40%;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 6%;
}

.line-three {
  height: 20px;
  width: 80%;
  background-color: white;
  margin-top: 15px;
  margin-left: 6%;
}

.arrow-botton-eight {
  margin-left: 0;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  background-color: #727272;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  padding: 0;
}

.arrow-botton-eight:hover {
  background-color: #2c2c2c;
}

.article-nine {
  grid-column: 3/5;
  background-color: #727272;
  height: 480px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.article-nine:hover {
  transform: scale(1.05);
  background-color: #939393;
  z-index: 1;
}

.arrow-botton-nine {
  margin-left: 0;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  background-color: #727272;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.arrow-botton-nine:hover {
  background-color: #2c2c2c;
}

.article-ten {
  grid-column: 5/7;
  background-color: #727272;
  height: 480px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.article-ten:hover {
  transform: scale(1.05);
  background-color: #939393;
  z-index: 1;
}

.arrow-botton-ten {
  margin-left: 0;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 80px;
  background-color: #727272;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.arrow-botton-ten:hover {
  background-color: #2c2c2c;
}